{% extends 'base.html' %}

{% block nav %}
<a href="http://127.0.0.1:8000/home/">Home</a>
<a href="http://127.0.0.1:8000/skillset/">Skill set</a>
<a href="http://127.0.0.1:8000/experience/">Experience</a>
<a href="http://127.0.0.1:8000/recommendations/">Recommendations</a>
<a href="" id="contact">Contact</a>
{% endblock %}

{% block main %}
<div class="main-section-grid-box">
    <div class="contact-grid-container">
        <div id="contact-image">
            {% load static %}
            <img src="{% static str3 %}" alt="">
        </div>
        <div id="contact-info">
            <h2>You can reach me at:</h2>
            <p id="tag">Email:</p>
            <p>{{ query.email }}</p>
            <p id="tag">LinkedIn:</p>
            <p>{{ query.linkedin }}</p>
            <p id="tag">Phone number:</p>
            <p>{{ query.phone_no }}</p>
        </div>
    </div>
</div>
{% endblock %}