{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />
    <script src=""></script>
</head>

<body>
    <div class="wrapper">
        <div class="grid-container">
            <div class="nav-grid-box">
                <nav>
                    <div class="logo">
                        <a href="">SR</a>
                    </div>
                    <div class="nav-tabs">
                        <a href="http://127.0.0.1:5500/home.html">Home</a>
                        <a href="" id="skillset">Skill set</a>
                        <a href="http://127.0.0.1:5500/experience.html">Experience</a>
                        <a href="http://127.0.0.1:5500/recommendations.html">Recommendations</a>
                        <a href="http://127.0.0.1:5500/contact.html">Contact</a>
                    </div>
                </nav>
            </div>
            <div class="skillset-main-grid-container">
                <div class="skillset-main-grid-box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corrupti ipsum culpa saepe, id
                        reprehenderit asperiores ea et eveniet facere accusantium consequuntur deserunt. Rem cum vel,
                        dolorum veniam atque laudantium?</p>
                </div>
                <div class="skillset-main-grid-box">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam nisi quia aspernatur qui quas
                        eveniet cupiditate rem consequuntur illum voluptates, ullam ea in hic laborum ipsum ad minus
                        dignissimos molestias.
                    </p>
                </div>
                <div class="skillset-main-grid-box">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam nisi quia aspernatur qui quas
                        eveniet cupiditate rem consequuntur illum voluptates, ullam ea in hic laborum ipsum ad minus
                        dignissimos molestias.
                    </p>
                </div>
                <div class="skillset-main-grid-box">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam nisi quia aspernatur qui quas
                        eveniet cupiditate rem consequuntur illum voluptates, ullam ea in hic laborum ipsum ad minus
                        dignissimos molestias.
                    </p>
                </div>
                <div class="skillset-main-grid-box">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam nisi quia aspernatur qui quas
                        eveniet cupiditate rem consequuntur illum voluptates, ullam ea in hic laborum ipsum ad minus
                        dignissimos molestias.
                    </p>
                </div>
                <div class="skillset-main-grid-box">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam nisi quia aspernatur qui quas
                        eveniet cupiditate rem consequuntur illum voluptates, ullam ea in hic laborum ipsum ad minus
                        dignissimos molestias.
                    </p>
                </div>
            </div>
        </div>

        <footer>
            <div>
                <p>Copyright &copy; Sriram Rajagopal</p>
            </div>
        </footer>

    </div>
</body>

</html>