{% extends 'base.html' %}

{% block nav %}
<a href="http://127.0.0.1:8000/home/">Home</a>
<a href="" id="skillset">Skill set</a>
<a href="http://127.0.0.1:8000/experience/">Experience</a>
<a href="http://127.0.0.1:8000/recommendations/">Recommendations</a>
<a href="http://127.0.0.1:8000/contact/">Contact</a>
{% endblock %}

{% block main %}
<div class="skillset-main-grid-container">
    {% for x in qset %}
    <div class="skillset-main-grid-box">
        <h2>{{ x.skill_category }}</h2>
        <ul>
            {% for y in x.skill_list.all %}
            <li>{{ y.skill }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}